/* Big tablet to 1200px (widths smaller taht the 1140px row) */
@media only screen and (max-width: 1200px) {
    .container {
        margin: 0;
        max-width: 100%;
        width: 100%;
    }

    .row {
        padding: 0 2%;
    }
}


/* Small tablet to big tablet: from 768px to 1023px */
@media only screen and (max-width: 1023px) {
    html {
        font-size: 50%;
    }

    body {
        font-size: 18px;
    }

    section {
        padding: 60px 0;
    }

    .row {
        margin: 0;
        max-width: 100%;
        width: 100%;
    }


    .nav {
        padding: 10x;
        font-size: 75%;
    }
}



/* Small phones to small tablets: from 481px to 767px */
@media only screen and (max-width: 767px) {
    body {
        font-size: 16px;
    }

    section {
        padding: 30px 0;
    }

    .row,
    .col {
        width: 100%;
        margin: 8% 0 4% 0;
    }

    .col {
        
        height: 100%;
    }


    h1 {
        font-size: 130%;
    }

    h2 {
        font-size: 150%;
    }

    .navbar {
        padding: 10px;
    }

    .mobile-nav-btn {
        display: inline-block;
        font-size: 200%;
    }

    .mobile-nav-btn:hover {
        cursor: pointer;
    }

    #searchicon {
        display: none;
    }

    #cart {
        height: 3rem;
    }

    .nav li {
        display: none;
    }

    .header {
        height: 1000px;
    }

    .box1{
        grid-column: 1/5;
        grid-row: 1/5;
    }

    .box2{
        grid-column: 1/5;
        grid-row: 5/7;
    }

    .box3{
        grid-column: 1/5;
        grid-row: 7/9;
    }

    .registration {
        background-position: center !important;
    }

    .form {
        width: 100%;
        margin-left: 0 !important;
        margin: 5%;
    }

    .content {
        font-size: 13px;
    }

    .form__input {
        width: 90%;
    }

    .btn {
        margin-top: 10px;
    }

    .blog-news {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
    }

    .group {
        margin-top: 25px;
        width: 100%;
        height: 75vh;
    }

    .footer {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
    }



}



/* Small phones: from 0 to 480px */
@media only screen and (max-width: 480px) {
    section {
        padding: 25px 0;
    }
}