*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
}

html {
    background-color: #e2e2e2;
    background-attachment: fixed;
    overflow-x: hidden;
    font-family: sans-serif;
}

body {
    background-color: #fff;
    color: #777777;
    font-size: 100%;
    line-height: 1.6;
    font-weight: 400;
    position: relative;
    height: 100%;
    min-height: 500px;
    max-width: 1170px;
    width: 100%;
    margin: auto;
}

.row {
    width: 1060px;
    margin: auto;
    position: relative;
}

.navbar {
    background-color: #eeeeee;
}

.nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding: 20px;
    font-size: 16px;
}

.nav-btn {
    border: none;
    border-radius: 0;
    background-color: #fff;
    height: 2px;
    width: 4.5rem;
    margin-top: 4rem;
    display: none;
}

.mobile-nav-btn{
    display: none;
}

#searchicon {
    height: 1rem;
    fill: #DEDADA;
}

#cart {
    fill: #DEDADA;
    height: 30px;
}


.nav__left {
    margin-right: auto;
}

.nav li {
    display: inline-block;
    padding: 10px;
}


.nav a {
    text-decoration: none;
    color: inherit;
}

.header {
    padding-top: 30px;
    display: grid;
    grid-template-rows: repeat(8, 1fr);
    grid-template-columns: repeat(4, 1fr);
    height: 100vh;
    grid-gap: 10px;
    overflow: hidden;
}

img {
    height: 100%;
    width: 100%;
    -o-object-fit: cover;
       object-fit: cover;
}


.divider {
    display: block;
    height: 2px;
    background-color: #e5e5e5;
    content: " ";
    width: 25px;
    margin: 0 auto;
    margin-top: 5px;
    margin-bottom: 20px;
}

.box {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    position: relative;
}

.box1 {
    
    background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url(images/header/man.jpg);
    grid-column: 1/4;
    grid-row: 1/9;
}

.box2 {
    background-image: url(images/header/girl.jpg);
    grid-column: 4/5;
    grid-row: 1/5;
}

.box3 {
    background-image: url(images/header/boy.jpg);
    grid-row: 5/9;
}

.title-box {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    text-transform: uppercase;
    color: #fff;
    font-size: 20px;
    text-align: center;
}

.title-box p {
    text-transform: none;
}

.btn-header {
    padding: 10px 30px;
    color: inherit;
    text-transform: inherit;
    font-weight: 400;
    background-color: transparent;
    border: 2px solid #fff;
}

.box4 {
    background-image: url(images/features/1.jpeg);
}


.box5 {
    background-image: url(images/features/2.jpg);
}

.box6 {
    background-image: url(images/features/3.jpg);
}

.box7 {
    background-image: url(images/features/4.jpeg);
}

.features {
    margin-top: 35px;
    display: grid;
    grid-template-rows: auto 300px;
    grid-template-columns: repeat(4, 1fr);
    row-gap: 35px;
    -webkit-column-gap: 20px;
            column-gap: 20px;

}

.features p {
    text-align: center;
    background-color: #fff;
    position: relative;
    top: 70%;
    text-transform: uppercase;
    font-size: 13px;
    font-weight: 700;
    padding: 5px;
}

.features span {
    font-size: 11px;
    font-weight: 400;
}

.title {
    display: grid;
    grid-template-columns: 1fr -webkit-max-content 1fr;
    grid-template-columns: 1fr max-content 1fr;
    grid-column-gap: 1.5rem;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    font-size: 1.6rem;
    color: #555555;
    text-transform: uppercase;
    font-weight: 700;
    text-align: center;
    grid-column: 1/5;

}

.title::before,
.title::after {
    content: "";
    height: 1px;
    display: block;
    background-color: #8f8f8f;
}

.registration {
    background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url(images/background.jpg);
    background-size: cover;
    background-repeat: no-repeat;

    -o-object-fit: cover;

       object-fit: cover;
    padding: 65px 0;
    margin-top: 60px;
    position: relative;
}

.form {
    width: 32%;
    margin-left: 10%;
    display: block;
    text-align: center;
    position: relative
}

h3 {
    font-size: 22px;
}

.singup{
    padding: 0 5%;
}

.regtitle {
    font-size: 26px;
    font-weight: 400;
    color: #fff;
    text-transform: uppercase;
}

.content {
    font-size: 16px;
    margin: 20px 0;
    color: #f1f1f1;
}

.form__input {
    background-color: #C2C2C2;
    border: #d3d3d3 solid 1px;
    color: #8f8f8f;
    padding: 5px;
    border-radius: 50px;
    font-size: 16px;
    width: 70%;
}

.btn {
    border-radius: 50px;
    border: none;
    text-transform: uppercase;
    color: #fff;
    padding: 10px;
    background-color: #468888;
}

.blog-news {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
}

.blog-comm {
    font-size: 10px;
}

.blog-content {
    font-size: 13px;
    padding: 10px;
}

.title-h5 {
    font-weight: 500;
    padding-top: 10px;
}

.title-h5:after {
    display: block;
    height: 2px;
    background-color: #e5e5e5;
    content: " ";
    width: 25px;
    margin: 0 auto;
    margin-top: 5px;
}

.news h3,
.insta {
    padding: 20px 0;
}

.group {
    width: 31%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    text-align: center;
}

.group img {
    height: 55%;
}

footer {
    background-color: #777777;
}

.footer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    color: #f1f1f1;
}

.col {
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    margin-top: 4%;
    width: 20%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;

}


.about p {
    font-size: 13px;
    margin: 30px 0;
}



.s-pan {
    font-size: 16px;
    font-weight: 500;
    text-transform: uppercase;
    font-family: inherit;

}

.s-pan::after {
    display: block;
    height: 2px;
    background-color: #e5e5e5;
    content: " ";
    width: 25px;
    margin: 10px 0;
}

.social-links li {
    display: inline-block;
    margin-right: 10px;
}

.social-links li a:link,
.social-links li a:visited {
    text-decoration: none;
    padding: 10px;
    color: #fff;
}

.tags ul {
    margin-top: 30px;
}

.tags li {
    display: inline-block;
    list-style: none;
}

.tags li a {
    color: #f1f1f1;
    border: 1px solid #f1f1f1;
    font-family: inherit;
    font-size: 13px;
    border-radius: 3px;
    padding: 2px;
    margin: 3px 0;
    text-decoration: none;
}


.form__input-footer {
    background-color: #929292;
    border: #d3d3d3 solid 1px;
    padding: 5px;
    margin: 30px 0;
    border-radius: 50px;
    font-size: 16px;
}

.date {
    display: grid;
    grid-template-columns: 50px 150px;
    margin: 30px 0;
}

.comment {
    font-size: 10px;
}

.latest_date {
    margin-right: 9px;
    border: 1px solid #fff;
    border-radius: 5px;
    font-size: 10px;
    text-align: center;
}